# Copiar como .env y ajustar si es necesario. Usado por docker-compose.yml.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=juego_sostenibilidad
POSTGRES_PORT=5432

MONGO_DB=juego_sostenibilidad
MONGO_PORT=27017
